@use 'src/styles/vars';

.triprofil {
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.form__buttons {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

/** === RESPONSIVE === **/

/* === SMARTPHONE === */

@media screen and (max-width:767px) {
  .triprofil {
    &__fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .btn {
    font-size: 1.1rem;
  }
}

/* === TABLET & DESKTOP === */

@media screen and (min-width:768px) {
  .triprofil {
    &__fields {
      display: flex;
      justify-content: space-between;
    }
  }

  .left {
    width: 25%;
  }
  
  .right {
    width: 70%;
  }
}
